@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
  max-width: 100%;
  /* This also prevents scrolling on tablets, which be a problem for wide content in portrait mode: */
  overflow-x: hidden;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

.light {
  --main-bg-color: rgb(250, 250, 252);
  --main-fg-color: black;
  --comp-bg-color: rgb(235, 238, 244);
  --contrast-bg-color: rgb(21, 23, 46);
  --contrast-fg-color: rgb(63, 66, 106);
  --grey-fg-color: rgb(85, 81, 81);
  --border-color: rgb(178, 192, 210);
  --link-color: rgb(2, 132, 199);
  --hover-fg-color: rgb(65, 195, 255);
  --hover-bg-color: rgb(239, 246, 255);
  --eth-logo-url: url(/images/ethereum-logo-dark.svg);
}

.dark {
  --main-bg-color: black;
  --main-fg-color: rgb(196, 196, 196);
  --comp-bg-color: black;
  --contrast-bg-color: rgb(21, 23, 46);
  --contrast-fg-color: rgb(63, 66, 106);
  --grey-fg-color: rgb(156, 151, 151);
  --border-color: rgb(45, 42, 41);
  --link-color: rgb(29, 182, 233);
  --hover-fg-color: rgb(141, 219, 255);
  --hover-bg-color: rgb(39, 39, 42);
  --eth-logo-url: url(/images/ethereum-logo-light.svg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
