@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

:root {
  --main-bg-color: white;
  --main-fg-color: black;
  --border-color: rgb(226 232 240);
  --hover-fg-color: rgb(65, 195, 255);
  --hover-bg-color: rgb(239 246 255);
}

[data-theme='dark'] {
  --main-bg-color: black;
  --main-fg-color: rgb(196, 196, 196);
  --border-color: rgb(28 25 23);
  --hover-fg-color: rgb(141, 219, 255);
  --hover-bg-color: rgb(39 39 42);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
